[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.0.2"
pytest = ">=3.10.1"
mongomock = ">=3.14.0"

[dev-packages]

[requires]
python_version = ">=3.5"
