[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.0.2"
mongomock = ">=3.14.0"

[dev-packages]
pytest = ">=3.10.1"
pylint = "<2.0.0"
autopep8 = "*"

[requires]
python_version = "3"
