[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.0.2"
flask-mongoengine = ">=0.9.5"
sqlalchemy = ">=1.2.17 "
blinker = ">=1.4"

[dev-packages]
pytest = ">=3.10.1"
pylint = "<2.0.0"
autopep8 = "*"

[requires]
python_version = "3"
